.user-details {
	margin: 2rem;
}
.back-btn {
	height: 1.5rem;
	background-color: rgb(182, 175, 175);
	color: black;
	text-decoration: none;
	margin: 6rem 2rem;
	padding: 0.5rem;
}

.green {
	color: green;
}

.red {
	color: red;
}

.card {
	min-height: 20rem;
	width: 90%;

	margin: 2rem;
	padding: 1rem;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.user-img {
	border-radius: 50%;
	height: 5rem;
	width: 5rem;
}

.github_url {
	height: 1.5rem;
	width: 10rem;
	background-color: rgb(20, 20, 20);
	color: white;
	text-decoration: none;
	padding: 0.5rem;
	text-align: center;
}

li {
	list-style: none;
	padding: 10px;
}

.labels {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.badge {
	margin: 10px;
	background-color: blue;
	color: white;
	height: 1.5rem;
	width: 8rem;
	text-align: center;
	padding: 10px 0;
	border-radius: 10px;
}
