.useritem {
	min-height: 10rem;
	width: 25rem;
	border: 2px dashed gray;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 1rem;
	padding: 1rem;
}

.profile-img {
	border-radius: 50%;
	height: 6rem;
	width: 6rem;
}
