nav {
	background-color: blue;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav a {
	color: white;
	text-decoration: none;
}

h1 {
	margin: 0;
	padding: 10px;
}

h1 svg {
	padding: 0 10px;
}

.nav-links {
	display: flex;
	list-style: none;
}

.nav-links a {
	padding: 0 2rem;
	font-weight: 500;
	font-size: 1.2rem;
}
